<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="auth.css" /> -->
    <title>Document</title>
  </head>
  <body>
    <div id="auth">
      <div>
        <a href="#">←Back</a>
      </div>
      <div class="a1">
        <div><h3>ONE MEMBERSHIP FOUR BRANDS.</h3></div>
        <div class="bna">
          <div>
            <img
              width="50%"
              height="50%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3LD4KPsMd-kw-RWMbJHmkDQKqaU45RbRDgXgMChLtduyJZbryRX_zB1HI6mD3idDDeZw&usqp=CAU"
            />
          </div>
          <div>
            <p class="rep">BANANA REPUBLIC</p>
          </div>
          <div>
            <img
              width="70%"
              height="70%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNp7Fk24a0b4Ii5-NRPsRfFmiofUbjnFckjJGyDuI9cTbUgQZIDj67OUmNm-vNt9vWg_Y&usqp=CAU"
            />
          </div>
          <div>
            <p class="rep">ATHELETA</p>
          </div>
        </div>
      </div>

      <div id="ema">
        <h2>Enter your email address</h2>
        <p>EMAIL ADDRESS</p>
        <input id="email" type="text" placeholder="Email Address" /><br />
        <button id="continue">CONTINUE</button><br />
      </div>
      <div class="gap">
        <div>
          <img
            width="100%"
            height="60%"
            src="https://1000logos.net/wp-content/uploads/2017/12/Gap-Logo-1986.jpg"
          />
        </div>
        <div>
          <a href="#">Manage</a>
          <span>your Gap Good Rewards Credit Card</span>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- <script>
var btn = document.getElementById("continue")
btn.addEventListener("click",create)

function create(){


  window.location.href = "create.html"
} -->

<!-- </script> -->