<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="create.css">
    <link rel="stylesheet" href="sign.css" />
    <title>Document</title>
</head>
<body>
    <div id="create">
        <div>
          <a href="#">←Back</a>
        </div>
        <div class="a1">
          <div><h3>ONE MEMBERSHIP FOUR BRANDS.</h3></div>
          <div class="bna">
            <div>
              <img
                width="50%"
                height="50%"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3LD4KPsMd-kw-RWMbJHmkDQKqaU45RbRDgXgMChLtduyJZbryRX_zB1HI6mD3idDDeZw&usqp=CAU"
              />
            </div>
            <div>
              <p class="rep">BANANA REPUBLIC</p>
            </div>
            <div>
              <img
                width="70%"
                height="70%"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNp7Fk24a0b4Ii5-NRPsRfFmiofUbjnFckjJGyDuI9cTbUgQZIDj67OUmNm-vNt9vWg_Y&usqp=CAU"
              />
            </div>
            <div>
              <p class="rep">ATHELETA</p>
            </div>
            
          </div>
          <div class="mem">
              <div class="sign">
                  <div>
                      <button id="btnn">SIGN IN</button>
                  </div>
                  <div>
                      <button id="btn">CREATE AN ACCOUNT</button>
                  </div>
              </div>
              <div id="cont">
                <div class="bec">
                  <p class="rew">Become a Rewards Member</p>
                  <p class="eight">You’re one step away from free shipping on all orders<br> $50+, points on each purchase, and more!</p>
                  <a class="aatag" href="#">Use another email address</a>
              </div>
              <div class="inp">
                  <input type="text" placeholder="First and Last Name"><br>
                  <input type="text" placeholder="Create a Password">
              </div>
              <div class="pass">
                  
                  <div>
                    <p class="two">Your Password must include:</p>
                    <p class="two">8 to 24 characters</p>
                    <p class="two">A lowercase letter</p>
                    <p class="two">An uppercase letter</p>
                  </div>
                  <div class="three">
                      <p class="four">A number</p>
                      <p class="four">A special character</p>
                      <p class="four">- ! @ # $ % ^ & * ( ) _ +</p>
                  </div>
              </div>
              <div class="mob">
                  <input type="number" placeholder="Mobile Number">
                  <p class="five">Add phone number for easier rewards lookup in store</p>
                  <button >CREATE ACCOUNT</button>
                  <p class="six">By creating an account, you’re joining the Gap Inc. Rewards<br> Program and agree to the
                <a class="atag" href="#"> Terms & Conditions </a>and<a class="atag" href="#"> Privacy<br> Policy</a> of the Rewards program and consent to receive
                <br> marketing emails.</p>

              </div> 
            </div>
          </div> 
        </div>
        
        
</body>
</html>