<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gapfit page</title>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/pants.css">
    <link rel="stylesheet" href="/footer.css">
</head>
<body onload="sendData(`<%=JSON.stringify(gapfit)%>`)">
    <%- include("../partial/navbar.ejs")%>
    <%- include("../partial/gapfit.ejs")%>
    <%- include("../partial/footer.ejs")%>
</body>
</html>
<script src="/gapfit.js"></script>