<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gap.com Payment Page</title>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/payment.css">
    <link rel="stylesheet" href="/footer.css">
</head>
<body>
    <%- include("../partial/navbar.ejs")%>
    <%- include("../partial/payment.ejs")%>
    <%- include("../partial/footer.ejs")%>
</body>
</html>

<script></script>